html {
  background-color: #124559;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1605405748429-cc26b762fa16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-size: 100vw;
  background-position: center 6vw;
}
